body{
    font-family: sans-serif;
}

.navBar a{
    border: 1px solid blue;
    display: flexbox;
    justify-content: space-around;
    text-decoration: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    
}

.navBar{
    position: relative;
}